/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$box-background-color: #2D8440;
$delte-color: #AE3C3C;

body {
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.main-header {
	text-align: center;
	padding: 15px;
}

.box {
	background-color: $box-background-color;
	color: white;
}

.recipe-list {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background-color: white;
	color: $box-background-color;
	li {
		padding: 10px;
		border: solid 5px $box-background-color;
	}
	span {
		&:hover {
			cursor: pointer;
		}
	}
}

.ingredients-header {
	text-align: center;
	color: gray;
}

.new-recipe {
	background-color: white;
	color: $box-background-color;
	padding: 10px;
	margin: 15px 15px 15px 5.6%;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

.ingredient {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid gray;
	padding: 10px;
}

@mixin recipe-buttons($button) {
	border: none;
	color: white;
	padding: 5px;
	margin: 20px 10px 0 0;
	@if $button == delete {
		background-color: $delte-color;
	} @else {
		background-color: $box-background-color;
	}
	&:hover {
		cursor: pointer;
	}
}

$buttons: edit delete;

@each $button in $buttons {
	.#{$button} {
		@include recipe-buttons($button);
	}

}

.layer {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.8;
	top: 0;
	left: 0;
	z-index: 1;
}

.new-recipe-message {
	text-align: center;
	position: fixed;
	width: 100%;
	left: 0;
	background-color: white;
	color: gray;
	z-index: 2;
	h1 {
		margin: 15px;
	}
	input {
		margin: 10px 0 25px 0;
		width: 40%;
		height: 35px;
	}
	button {
		margin: 5px 10px 35px 10px;
		width: 110px;
		height: 25px;
	}
}

.footer {
	margin-top: 30px;
	font-size: 0.7em;
	color: gray;
	a {
		color: gray;
	}
}