/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$box-background-color: #2D8440;

body {
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.main-header {
	text-align: center;
	padding: 15px;
}

.box {
	background-color: $box-background-color;
	color: white;
}

.recipe-list {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background-color: white;
	color: $box-background-color;
	li {
		padding: 10px;
		border: solid 5px $box-background-color;
		&:hover {
			cursor: pointer;
		}
	}
}

.new-recipe {
	background-color: white;
	color: $box-background-color;
	padding: 10px;
	margin: 15px 15px 15px 5.6%;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

.footer {
	margin-top: 30px;
	font-size: 0.7em;
	color: gray;
	a {
		color: gray;
	}
}