/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  font-family: 'Raleway', sans-serif;
}

/* line 12, ../sass/screen.scss */
#container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* line 18, ../sass/screen.scss */
.main-header {
  text-align: center;
  padding: 15px;
}

/* line 23, ../sass/screen.scss */
.box {
  background-color: #246868;
  color: white;
}

/* line 28, ../sass/screen.scss */
.recipe-list {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: white;
  color: #246868;
}
/* line 35, ../sass/screen.scss */
.recipe-list li {
  padding: 10px;
  border: solid 5px #246868;
}
/* line 40, ../sass/screen.scss */
.recipe-list span:hover {
  cursor: pointer;
}

/* line 46, ../sass/screen.scss */
.ingredients-header {
  text-align: center;
  color: gray;
}

/* line 51, ../sass/screen.scss */
.new-recipe {
  background-color: white;
  color: #246868;
  padding: 10px;
  margin: 15px 15px 15px 5.6%;
  border: none;
}
/* line 57, ../sass/screen.scss */
.new-recipe:hover {
  cursor: pointer;
}

/* line 62, ../sass/screen.scss */
.ingredient {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  padding: 10px 10px 2px 10px;
}

/* line 87, ../sass/screen.scss */
.edit {
  border: none;
  color: white;
  padding: 5px;
  margin: 20px 10px 0 0;
  background-color: #246868;
}
/* line 79, ../sass/screen.scss */
.edit:hover {
  cursor: pointer;
}

/* line 87, ../sass/screen.scss */
.delete {
  border: none;
  color: white;
  padding: 5px;
  margin: 20px 10px 0 0;
  background-color: #AE3C3C;
}
/* line 79, ../sass/screen.scss */
.delete:hover {
  cursor: pointer;
}

/* line 93, ../sass/screen.scss */
.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 104, ../sass/screen.scss */
.new-recipe-message {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 40%;
  left: 0;
  top: 25%;
  background-color: white;
  color: gray;
  z-index: 2;
}
/* line 114, ../sass/screen.scss */
.new-recipe-message h1 {
  margin: 15px;
}
/* line 117, ../sass/screen.scss */
.new-recipe-message input {
  margin: 10px 0 25px 0;
  width: 40%;
  height: 35px;
  padding: 0 0 0 10px;
}
/* line 123, ../sass/screen.scss */
.new-recipe-message button {
  margin: 5px 10px 35px 10px;
  width: 110px;
  height: 25px;
}

/* line 130, ../sass/screen.scss */
.footer {
  margin-top: 30px;
  font-size: 0.7em;
  color: gray;
}
/* line 134, ../sass/screen.scss */
.footer a {
  color: gray;
}
